table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

div {
    padding-top: 25px;
    padding-bottom: 25px;
}

#program {
    font-size: 60px;
}

.disappear {
    display: none;
}

.row img {
    height: auto;
    width: 100%;
}

#program {
    height: 5rem;
    font-weight:bold;
}

.mtoProgram {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

.mtoProgramDate {
    font-size: 15px;
    font-weight: bold;
}

.mtogroup {
    border: 1px solid black;
    margin-bottom: 10px;
}

textarea {
    overflow: auto;
}

#header {
    text-align: center;
    padding-bottom: 10px;
    text-decoration: underline;
}

#editor, #editor1, #editor2 {
    height: 300px;
}

#editor3, #editor4, #editor5 {
    height: 100px;
}

#heading, #part, #instruct, #ops, .shop, .buttons {
    text-align: center;
}

#millPro, #geo {
    margin-left: 30px;
    text-align: center;
}

.sig {
    float: right;
    margin-right: 30px;
    text-align: center;
}

#buyoff {
    padding-right: 20px;
}

.sq {
    font-size: xx-large;
}

.seq {
    font-size: 20px;
    font-weight: bolder;
}

#print {
    float: right;
}

.jumbotron {
    background: #1300a9;
    color: white;
    height: 200px;
}

.container {
    border-style: solid;
    border-radius: 15px;
    background: white;
    padding: 10px;
    box-shadow: 5px 10px 18px #c3c3c3;
}

.main {
    margin-top: 5%;
    margin-bottom: 5%;
}

body{
    background: -webkit-linear-gradient(left, #00004a, rgba(0, 173, 255, 0.86));
}
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: 2%;
    /*transform: rotate(29deg);*/
}
.contact-form form{
    padding-top: 20%;
    padding-left: 1%;
    padding-right: 1%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: -5%;
    margin-top: -20%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.mtogroup
{
    padding-top: 5%;
}

.contact-form h4{
    text-align: center;
}

nav {
    margin-bottom: -7%;
}

.createNew {
    margin-top: -7%;
}

