table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

div {
    padding-top: 25px;
    padding-bottom: 25px;
}

#program {
    font-size: 70px;
}

.disappear {
    display: none;
}

img {
    height: 700px;
    width: auto;
}

#program {
    height: 8rem;
    font-weight:bold;
}

.mtoProgram {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

.mtoProgramDate {
    font-size: 15px;
    font-weight: bold;
}

.mtogroup {
    border: 1px solid black;
    margin-bottom: 10px;
}

textarea {
    overflow: auto;
}

#header {
    text-align: center;
    padding-bottom: 10px;
    text-decoration: underline;
}

#editor, #editor1, #editor2 {
    height: 300px;
}

#editor3, #editor4, #editor5 {
    height: 100px;
}

#heading, #part, #instruct, #ops, .shop, .buttons {
    text-align: center;
}

#millPro, #geo {
    margin-left: 30px;
    text-align: center;
}

.sig {
    float: right;
    margin-right: 30px;
    text-align: center;
}

#buyoff {
    padding-right: 20px;
}

.sq {
    font-size: xx-large;
}

.seq {
    font-size: 20px;
    font-weight: bolder;
}

#make {
    margin-top: -50px;
    height: 80px;
}

#print {
    float: right;
}

.jumbotron {
    background: blue;
    color: white;
    height: 200px;
}

.container {
    border-style: solid;
    border-radius: 25px;
    background: white;
}

.main {
    background: blue;
}

body {
    background: darkgray;
}



