table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

div {
    padding-top: 25px;
    padding-bottom: 25px;
}

#program {
    font-size: 70px;
}

.disappear {
    display: none;
}

img {
    height: 700px;
    width: auto;
}

#program {
    height: 8rem;
    font-weight:bold;
}

.mtoProgram {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

.mtoProgramDate {
    font-size: 15px;
    font-weight: bold;
}

.mtogroup {
    border: 1px solid black;
    margin-bottom: 10px;
}

textarea {
    overflow: auto;
}

#header {
    text-align: center;
    padding-bottom: 10px;
    text-decoration: underline;
}

#editor, #editor1, #editor2 {
    height: 300px;
}

#editor3, #editor4, #editor5 {
    height: 100px;
}

#heading, #part, #instruct, #ops, .shop, .buttons {
    text-align: center;
}

#millPro, #geo {
    margin-left: 30px;
    text-align: center;
}

.sig {
    float: right;
    margin-right: 30px;
    text-align: center;
}

#buyoff {
    padding-right: 20px;
}

.sq {
    font-size: xx-large;
}

.seq {
    font-size: 20px;
    font-weight: bolder;
}

#make {
    margin-top: -50px;
    height: 80px;
}

#print {
    float: right;
}

.jumbotron {
    background: #1300a9;
    color: white;
    height: 200px;
}

.container {
    border-style: solid;
    border-radius: 15px;
    background: white;
    padding: 10px;
    box-shadow: 5px 10px 18px #c3c3c3;
}

.main {
    background: #1300a9;
}

body {
    background: lightgray;
}

.head {
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana, sans-serif;
    font-size: 3em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

